<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="alternate icon" type="image/png" href="~/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/favicon.png">
    <meta name="apple-mobile-web-app-title" content="AMUI React">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/amazeui.touch.min.css" rel="stylesheet" />
    <title>Melon的闪电站</title>
</head>
<body>
    <div id="app" style="height:100%;width:100%;overflow:hidden"></div>
    <input type="hidden" value="@ViewBag.userId" id="h_userId" />
    <script src="~/Scripts/pack/mobile.bundle.js"></script>
</body>
</html>